<div>
  <div class="group hover:bg-highlight rounded-md flex flex-col gap-2 p-3 w-48 cursor-pointer" (click)="navigateToArtist(item.id)">
    <div class="relative ">
      <div class="w-40 overflow-hidden self-center" [ngClass]="type === 'artists' ? 'rounded-full' : 'rounded-md'" >
        <img [src]="type !== 'tracks' ? item.images[0]?.url : item?.album?.images[0]?.url" alt="Artist image">
      </div>
<!--      <h1>{{ item.images[0]?.url }}</h1>-->
      <button (click)="$event.stopPropagation()" class="absolute opacity-0  group-hover:top-3/4 group-hover:opacity-100 active:bg-greenPress active:scale-100  bg-greenBase rounded-full w-11 h-11  transition-all duration-200 top-[85%] right-4 hover:bg-greenHighlight hover:scale-105	">
        <i class="fa-solid fa-play absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%]"></i>
      </button>
    </div>
    <div class="flex flex-col gap-1">
      <a class="text-white">{{ item.name }}</a>
      <ng-content></ng-content>
    </div>
  </div>
</div>

