<header class="flex justify-between items-center py-4 px-5">
  <div class="flex gap-1">
    <button (click)="onBackClick.emit()" class="bg-black w-8 h-8 rounded-full"><span class="text-baseGray text-sm"><i class="fa-solid fa-chevron-left"></i></span></button>
    <button (click)="onForwardClick.emit()" class="bg-black w-8 h-8 rounded-full"><span class="text-baseGray text-sm"><i class="fa-solid fa-chevron-right text-sm"></i></span></button>
  </div>
  <div class="flex">
    <app-button [text]="'Sign up'" [type]="'link'" [size]="'lg'"></app-button>
    <app-button [text]="'Log in'" [size]="'lg'"></app-button>
  </div>
</header>

