<div class="wrapper text-baseGray" #wrapperEl>
  <div
    class="rectangle "
    [ngStyle]="style"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    (resizing)="onResizing($event)">
    <nav class="flex flex-col gap-2 mr-1">
      <div class="bg-base rounded-lg">
        <a class="" href="#"><img class="w-20 pl-6 mt-5" src="assets/Spotify_logo_text_white.svg" alt="Spotify-logo"></a>
        <ul class="font-bold py-2 px-6">
          <li class="py-3">
            <a href="#" class="flex items-center gap-5">
              <img  class="transition-all duration-200 w-6" alt="home-icon" src="assets/icons8-home-gray.svg">
              <span class="transition-all duration-200">Home</span>
            </a>
          </li>
          <li class="py-3">
            <a href="#" class="flex items-center gap-5">
              <img class="transition-all duration-200 w-6" alt="home-icon" src="assets/icons8-search-gray.svg">
              <span class="transition-all duration-200">Search</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="bg-base rounded-lg">
        <header class="px-6 pt-2">
          <div class="flex justify-between">
            <a href="#" class="flex items-center gap-5 ">
              <img  class="transition-all duration-200 w-6" alt="library-icon" src="assets/icons8-library-25.png">
              <a  class="transition-all duration-200">Your Library</a>

            </a>
            <button class="p-2 rounded-full hover:bg-highlight"  (click)="op.toggle($event)">
              <img  class="transition-all duration-200" alt="plus-icon" src="assets/icons8-plus.svg" width="15">
            </button>

            <div class="card flex justify-content-center">
              <p-overlayPanel #op [style]="{backgroundColor: '#0d72ea', color: 'white'}">
                <ng-template pTemplate="content">
                  <div class="bg-blue flex flex-col">
                    <div>
                      <h2 class="font-bold mb-2">Create a playlist</h2>
                      <h3 class="text-sm">Log in to create and share playlists.</h3>
                    </div>
                    <div class="flex mt-6 self-end">
                      <app-button  (click)="op.toggle($event)" [text]="'Not now'" [type]="'link'"></app-button>
                      <app-button [text]="'Log in'"></app-button>
                    </div>
                  </div>
                </ng-template>
              </p-overlayPanel>
            </div>
          </div>
        </header>
        <p-scrollPanel [style]="{ width: '100%', height: '240px' }" >
          <section class="bg-elevatedBase my-2 py-4 px-5 flex flex-col items-start gap-5 rounded-lg">
            <div class="flex flex-col gap-1 text-white">
              <span>Create your first playlist</span>
              <span class="text-sm">It's easy, we'll help you</span>
            </div>
            <div>
              <app-button [text]="'Create playlist'" (click)="op.toggle($event)"></app-button>
            </div>
          </section>
          <section class="bg-elevatedBase my-2 py-4 px-5 flex flex-col items-start gap-5 rounded-lg">
            <div class="flex flex-col gap-1 text-white">
              <span>Let's find some podcasts to follow</span>
              <span class="text-sm">We'll keep you updated on new episodes</span>
            </div>
            <div>
              <app-button [text]="'Browse podcasts'"></app-button>
            </div>
          </section>
        </p-scrollPanel>
        <div class=" px-2">

          <div class="sidebar-footer px-5 my-7">
            <div class="flex flex-wrap gap-2 text-xs">
              <div><a href="https://www.spotify.com/it/legal/end-user-agreement/">Legal</a></div>
              <div><a href="https://www.spotify.com/it/safetyandprivacy/reporting-content">Safety & Privacy Center</a></div>
              <div><a href="https://www.spotify.com/it/legal/privacy-policy/">Privacy Policy</a></div>
              <div><a href="https://www.spotify.com/it/legal/privacy-policy/#s3">About Ads</a></div>
              <div><a href="https://www.spotify.com/it/accessibility">Accessibility</a></div>
              <div><a  target="_blank" href="https://www.spotify.com/it/legal/cookies-policy/">Cookies</a></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div
      class="resize-handle-right"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
    ></div>

  </div>
</div>
