
:host {
  height: 100%;
  display: block;
  a {
    &:hover {
      span {
        color: #FFF;
      }
      img {
        filter: brightness(195%) contrast(200%) saturate(103%)
      }
    }

  }
  mwlResizable {
    box-sizing: border-box;
  }

  .rectangle {
    position: relative;
    height: 100%;
    width: 300px;

  }
  .resize-handle-top,
  .resize-handle-bottom {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    cursor: row-resize;
  }
  .resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: grab;
    width: 5px;
  }

  .resize-handle-right {
    right: 0;
    top:0;
  }

  .wrapper {
    position: relative;
    width: 300px;
    border: 1px solid black;
    height: 100%;
  }

}
