:host {
  ::ng-deep {
    .search:hover {

    }
    .p-inputtext {
      border-radius: 500px !important;
      padding: 13px 34px!important;
      background-color: #242424 !important;
      &::placeholder {
        color: rgba(255,255,255,0.7);
      }
    }
  }
}
