:host {
  p-password ::ng-deep {
    .p-password {
      width: 100%;
    }
    .p-input-icon-right > .p-icon-wrapper:hover {
      color: white !important;
      transform: scale(1.2);
      transition: transform 0.2s ease-in-out;
    }
  }
}
