<p>tracks-list works!</p>

<section>
  <p-table [value]="customizedTracks()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Album</th>
        <th>Date added</th>
        <th><i class="far fa-clock"></i></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-track let-i="rowIndex">
      <tr (click)="selectTrack(track.id)">
        <td>
          @if (track.isActive) {
            <i class="fa-solid fa-play"></i>
          } @else {
            <span>{{ i + 1}}</span>
          }
        </td>
        <td>
          <div class="flex">
            <div class="w-16 overflow-hidden rounded-md ">
              <img class="" alt="'track picture" [src]="track.album.images[0].url">
            </div>
            <div class="text-white flex flex-col justify-center">
              <span>{{track.name | truncate:20}}</span>
              <div class="flex text-textGrey items-center gap-1">
                <span class="text-nowrap">{{track.artists | arrayToString | truncate}}</span>
              </div>
            </div>
          </div>

        </td>
        <td>{{ track.album.name }}</td>
        <td>{{ track.album.release_date }}</td>
        <td>{{ track.duration_ms }}</td>
      </tr>
    </ng-template>
  </p-table>
</section>


