<section>
  <p-table [value]="customizedTracks()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Album</th>
<!--        <th>Date added</th>-->
        <th><i class="far fa-clock"></i></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-track let-i="rowIndex">
      <tr (click)="selectTrack(track.id)">
        <td>
          @if (track.isActive) {
            @if(isPlayerActiveSignal()) {
              <i class="fa-solid fa-pause"></i>
            } @else {
              <i class="fa-solid fa-play"></i>
            }
          } @else {
            <span>{{ i + 1}}</span>
          }
        </td>
        <td>
          <div class="flex">
            <div class="w-16 overflow-hidden rounded-md ">
              <img class="" alt="'track picture" [src]="track.album.cover_medium">
            </div>
            <div class="text-white flex flex-col justify-center">
              <span>{{track.title | truncate:20}}</span>
              <div class="flex text-textGrey items-center gap-1">
                <span class="text-nowrap">{{track.artist.name | truncate}}</span>
              </div>
            </div>
          </div>

        </td>
        <td>{{ track.album.title }}</td>
<!--        <td>{{ track.album.release_date }}</td>-->
        <td>{{ track.duration }}</td>
      </tr>
    </ng-template>
  </p-table>
</section>


