<section class="px-6">
  @if(artists$ | async; as artists) {
    <h2 class="text-white">Artists</h2>
    <div>
      <div class="grid grid-custom-items sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4 2xl:grid-cols-5 grid-rows-1">
        @for (artist of artists; track $index) {
          <app-artist-item [artist]="artist"></app-artist-item>
        } @empty {
          <h1 class="text-white">No artists at this moment</h1>
        }
      </div>
    </div>
  }
  @if(tracks$ | async; as tracks) {
    <h2 class="text-white">Tracks</h2>
    <div>
      <div class="grid grid-custom-items sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4 2xl:grid-cols-5 grid-rows-1">
        @for (track of tracks; track $index) {
          <app-item [item]="track" [type]="'tracks'">
            <a class="text-textSubdued text-sm">{{ track.artists[0]?.name }}</a>
          </app-item>
        } @empty {
          <h1 class="text-white">No Tracks at this moment</h1>
        }
      </div>
    </div>
  }
  @if(albums$ | async; as albums) {
    <h2 class="text-white">Albums</h2>
    <div>
      <div class="grid grid-custom-items sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4 2xl:grid-cols-5 grid-rows-1">
        @for (album of albums; track $index) {
          <app-item [item]="album" [type]="'albums'">
            <div class="flex gap-1">
              <a class="text-textSubdued text-sm">{{ getFullYear(album.release_date) + "  |" }}</a>
              <a class="text-textSubdued text-sm">{{ album.artists[0]?.name }}</a>
            </div>
          </app-item>
        } @empty {
          <h1 class="text-white">No Albums at this moment</h1>
        }
      </div>
    </div>
  }
</section>
