:host {
  .p-inputtext, p-password ::ng-deep .p-inputtext  {
    background: transparent;
    padding: 12px 8px;
    border-radius: 4px;
    color: white;
    box-shadow: inset 0 0 0 1px #878787;
    inline-size: 100%;
    &:hover {
      box-shadow: inset 0 0 0 1px #fff;
    }
    &:focus {
      box-shadow: inset 0 0 0 3px #fff;
    }
  }
}
