.play-pause-btn {
  width: 32px;
  max-width: 32px;
  height: 32px;
  background: white;
  color: black;
  border-radius: 50%;
  position: relative;
  i {
    position: absolute;

  }
}

/* Album Photo */
.album-art {

}

#album-photo {
  max-width: 100%;
}



/* Controls */
.controls {
  button {
    width: 32px;
  }
  #next-button, #prev-button {
    i::before {
      font-size: 16px;
    }
  }
}


/* Button */
button {
  cursor: pointer;
}



/* Track Name */
#track-name {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}


/* Track Time */
#current-time, #total-duration {
  font-size: 14px;
  margin: 0 10px;
}





.slider {
  width: 100%;
}

/* Border Animation with cool effects */
#music-player {
  border: 5px solid transparent;
}


:host {
  p-slider ::ng-deep, .volume-control{
    &:hover  {
      ::ng-deep  {
        .p-slider-handle {
          opacity:1;
        }
        .p-slider-range {
          background: rgb(29, 185, 84);
        }
      }
    }
    ::ng-deep {
      .p-slider-horizontal {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
      }
      .p-slider-range {
        background: white;
        border-radius: 4px;
      }
      .p-slider-handle {
        background: white;
        opacity: 1;
        width: 14px;
        height: 14px;
        top: 4px;
        &:focus {
          box-shadow: unset;
        }

      }
    }
  }
}
