<div class="bg-black layout p-2 min-h-screen	">
  <div class="flex pb-16">
    <app-side-bar></app-side-bar>
    <div class="flex flex-col items-stretch flex-1 relative ml-2 bg-base rounded-t-lg">
      <app-header [searchFormControl]="searchFormControl" (onBackClick)="goBack()" (onForwardClick)="goForward()" (scroll)="scrollHandler($event)"  [class.animate-fade]="fade" [ngClass]="isTransparent ? 'bg-blackTransparent' : 'bg-base'" class="h-16 top-2 right-2 left-0 z-10 sticky rounded-t-lg"></app-header>
      <router-outlet></router-outlet>
      <app-footer class="flex-1 pt-10"></app-footer>
    </div>
  </div>
  <app-banner class="fixed bottom-2 right-2 left-2 bg-gradientBanner h-14"></app-banner>
</div>

@if (selectedTrack$ | async) {
  <app-custom-audio-player class="fixed bottom-0 left-0 right-0" [isPlayerActiveSignal]="isPlayerActiveSignal" [audioPlayPauseToggleClicked$]="audioPlayPauseToggleClicked$" [track$]="selectedTrack$" (playPauseToggleClicked)="onPlayPauseClick()"></app-custom-audio-player>
}

<!--<router-outlet></router-outlet>-->
