<h2 class="text-white">Artists</h2>
  <div>
    <div class="grid grid-custom-items sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4 2xl:grid-cols-5 grid-rows-1">
      @for (artist of artists$ | async; track $index) {
        <app-artist-item [artist]="artist"></app-artist-item>
      } @empty {
        <h1 class="text-white">No artists at this moment</h1>
      }
    </div>
  </div>



<h2 class="text-white">Tracks</h2>
<div>
  <div class="grid grid-custom-items sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4 2xl:grid-cols-5 grid-rows-1">
    @for (track of tracks$ | async; track $index) {
      <app-item [item]="track" [type]="'tracks'"></app-item>
    } @empty {
      <h1 class="text-white">No Tracks at this moment</h1>
    }
  </div>
</div>

<h2 class="text-white">Albums</h2>
<div>
  <div class="grid grid-custom-items sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4 2xl:grid-cols-5 grid-rows-1">
    @for (album of albums$ | async; track $index) {
      <app-item [item]="album" [type]="'albums'">
        <a class="text-white">{{ album.artists[0]?.name }}</a>
      </app-item>
    } @empty {
      <h1 class="text-white">No Albums at this moment</h1>
    }
  </div>
</div>

