@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeng/resources/themes/lara-light-blue/theme.css");


@font-face {
  font-family: 'Circular-black';
  src: url('./assets/fonts/CircularSpotifyText-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Circular-light';
  src: url('./assets/fonts/CircularSpotifyText-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Circular-book';
  src: url('./assets/fonts/CircularSpotifyText-Book.otf') format('opentype');
}

html, body {
  height: 100%;
}

* {
  font-family: Circular-book, sans-serif;
}

a {
  cursor: pointer;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
