<footer class="bg-base rounded-b-lg text-baseGray pt-2 px-8 pb-10">
  <nav class="flex justify-between ">
    <div class="flex ">
      <ul class="mr-3 flex flex-col gap-2">
        <li class="text-white mb-2">Company</li>
        <li><a href="https://www.spotify.com/it/about-us/contact/" class="cursor-pointer hover:text-white hover:underline">About</a></li>
        <li><a href="https://www.lifeatspotify.com/" class="cursor-pointer hover:text-white hover:underline">Jobs</a></li>
        <li><a href="https://newsroom.spotify.com/" class="cursor-pointer hover:text-white hover:underline">For the Record</a></li>
      </ul>
      <ul class="mr-3 mb-4 flex flex-col gap-2">
        <li class="text-white">Communities</li>
        <li><a  href="https://artists.spotify.com/home" class="cursor-pointer hover:text-white hover:underline">For Artists</a></li>
        <li><a href="https://developer.spotify.com/" class="cursor-pointer hover:text-white hover:underline">Developers</a></li>
        <li><a href="https://ads.spotify.com/en-US/" class="cursor-pointer hover:text-white hover:underline">Advertising</a></li>
        <li><a href="https://investors.spotify.com/home/default.aspx" class="cursor-pointer hover:text-white hover:underline">Investors</a></li>
        <li><a href="https://spotifyforvendors.com/" class="cursor-pointer hover:text-white hover:underline">Vendors</a></li>
      </ul>
      <ul class="mr-3 mb-4 flex flex-col gap-2">
        <li class="text-white">Useful Links</li>
        <li><a href="https://support.spotify.com/it/" class="cursor-pointer hover:text-white hover:underline">Support</a></li>
        <li><a href="https://www.spotify.com/it/free/" class="cursor-pointer hover:text-white hover:underline">Free Mobile App</a></li>
        <li><a href="https://www.spotify.com/it/legal/end-user-agreement/#s15" class="cursor-pointer hover:text-white hover:underline">Consumer rights</a></li>
      </ul>
    </div>
    <div>
      <ul class="text-white flex">
        <li><app-link-icon><i class="fa-brands fa-instagram"></i></app-link-icon></li>
        <li><app-link-icon><i class="fa-brands fa-twitter"></i></app-link-icon></li>
        <li><app-link-icon><i class="fa-brands fa-facebook"></i></app-link-icon></li>
      </ul>
    </div>
  </nav>
  <hr class="border-mediumGray mb-3">
  <div class="text-sm pt-2"><span >Copyright &#64; Ana Zhizhiashvili 2024</span></div>
</footer>
